* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
}

.category {
    background-color: #ff3b49;
    min-height: 100vh;
}

h1 {
    color: white;
    margin: 40px auto;
    text-align: center;
}

.category-1 {
    list-style: none;
    color: white;
}

.category-1 > li {
    padding: 0.2rem 1rem;
}

.category-menu {
    background-color: #d18484;
}

.category-1 > li:not(:nth-child(1)):hover {
    background-color: black;
}


.main {
    background-color: silver;
}

.main-search {
    height: 50px;
}

.main-search > form {
    display: flex;
    justify-content: space-around;
    padding: 5px 1rem;
    width: 100%;
}

.S-botton {
    border: none;
    background-color: rgb(218, 117, 218);
    border-radius: 50%;
    color: white;
    font-size: 30px;
    width: 40px;
    height: 40px;
    font-weight: 900;
}

.main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/main_title.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

h2 {
    color: white;
    font-size: 3rem;
}

.cover {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)) ;
    padding: 1rem;
    gap: 1rem;

}

.cover-img {
    padding-top: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}

.img-cover {
    background-color: white;
    padding: 15px;
}

h3 {
    margin: 15px 0px;
}

.TOP-button {
    border: none;
    background-color: rgb(218, 117, 218);
    border-radius: 50%;
    color: white;
    width: 40px;
    height: 40px;
    font-weight: 900;
    position: fixed;
    right: 10%;
    bottom: 20%;
}