.title-click {
    color: blue;
}

.title-click2 {
    color: red;
}

.modal-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
}

.display-none {
    display: none;
}

.modal-item {
    width: 300px;
    height: 300px;
    background-color: white;
    margin: auto;
}