div {
    border: 1px solid #000;
    width: 400px;
    padding: 50px;
    }

    /* margin: 10px; */
    /* margin 속성 : 외부 여백을 지정합니다
        > 1개 지정 : 4방향 지정
        > 2개 지정 : 첫번째 값은 위아래, 두번째 값은 좌우를 지정
        > 3개 지정 : 위 -> 좌우 -> 아래 순으로 지정
        > 4개 지정 : 위 -> 우 -> 아래 -> 좌 순으로 지정 

        margin-top, margin-bottom, margin-left, margin-right 
        
        margin 중첩
            HTML 요소를 세로로 배치할 경우 margin과 margin이 만날 때,
            margin 값이 큰 쪽으로 겹쳐지는 현상입니다.
            (가로로 배치할 경우는 상관 없습니다.)*/

  h1, p {
     border: 1px solid #000;
     width: 150px;
     margin: 10px auto;
  }
  /* padding 속성 : 내부 여백을 지정합니다.
        > 1개 지정 : 4방향 지정
        > 2개 지정 : 첫번째 값은 위아래, 두번째 값은 좌우를 지정
        > 3개 지정 : 위 -> 좌우 -> 아래 순으로 지정
        > 4개 지정 : 위 -> 우 -> 아래 -> 좌 순으로 지정
        */

.div-2 {
    padding: 50px;
}

/* 
        box-shadow : 박스 모델에 그림자 효과를 줍니다.
            속성값 : 수평거리, 수직거리, 흐림정도, 번짐정도, 색상, (inset)
                참조) inset은 설정시 안쪽으로 그림자가 생깁니다

*/

.div-3, .div-4 {
    width: 50px;
    height: 50px;  
    margin: 20px;
}

.div-3 {
    box-shadow: 0px 0px 10px 0px #000;
}

.div-4 {
    box-shadow: 10px 10px 10px 10px #000 inset;
}