/* 
연결 선택자(combination Selector)
    공백, >, +, ~등 결합자(combinator)를 이용해 특정 요소를 선택        

*/

/* 후손 결합자 (연결 선택자의 후손) 
        공백 문자를 이용해 선택자를 조합
        상위요소의 영역하에 있는 특정 선택자에 스타일을 적용
        자식, 후손, 그 밑에 있는 것은 가능하나 형제는 불가능하다.
*/

html h1 {
    color: red;
}

/* 자식 결합자
     '>' 기호를 이용하여 선택자를 조합
        부모 요소 영역에서 자식 요소로 한정해서 선택 후 스타일 적용
*/

header > span, header > h1 {
    color: blue;
}

/* 인접 형제 결합자
    '+' 기호를 이용해서 선택자를 조합
    첫번째 선택자 요소 바로 뒤에 나오는 형제 요소에 스타일을 적용
*/

header + span {
    color: green;
}

/* 일반 형제 결합자
    '~' 기호를 이용해서 선택자를 조합
    첫번째 선택자 요소 이후에 나오는 모든 형제 요소에 스타일을 적용

    header ~ span이라면 헤더 뒤에 있는 형제, 모든 span이 적용됨
*/

header ~ span {
    color: blueviolet;
}