* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

fieldset {
    width: 500px;
    height: 500px;
    background-image: url(../img/cat.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin: 20px;
}

h1 {
    color: rgb(235, 14, 224);
}

label {
    font-weight: 900;
    padding: 5px;
    line-height: 15px;
}

input {
    border-top : 2px solid black;
    background:none;
}

input:focus {
    border: 3px solid red;
    outline: none;
    border-radius: 3px;
}

.name-1 {
    line-height: 15px;
    
}

.name-1::before {
    content: '* ';
    color: #ff3000;
}


textarea {
    width: 250px;
    height: 250px;
    background:none;
}

textarea:focus {
    border: 3px solid red;
    outline: none;
    border-radius: 3px;
}

.button-1 {
    margin: 42px 10px;
    border: 1px solid black;
    border-radius: 3px;
}

.top-1 {
    vertical-align: top;
}

[type ~= radio]:checked+label {
    color: red;
}

button:hover+span {
    display: inline;
    background-color: black;
    color: white;
}

span {
    display: none;
    font-size: 25px;
    padding: 5px;
}