* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "맑은고딕";
}

h1 {
    font-size: 3rem;
    padding: 20px;
    text-align: center;
    color: #582AFD;
    margin-top: 100px;
    width: 100%;
}

button {
    background-color: #607ef5;
    border-radius: 40px;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn-middle {
    width: 130px;
    height: 50px;
}

.main-top {
    text-align: right;
}

main {
    background-color: #b1cbe9;
    padding: 15px 30px;
    width: 600px;
    margin: 0 auto;
    border-radius: 10px;
}

.main-top {
    margin-bottom: 20px;
}

.item {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    text-align: center;
    font-size: 1.2rem;
    padding: 10px;
}

.list-head {
    background-color: #607ef5;
    border-radius: 10px;
    color: #fff;
}

.list-body {
    background-color: #fff;
    margin-top: 10px;
}

.main-footer {
    text-align: center;
    margin: 40px 0;
}

.main-footer button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 15px;
}

button:hover {
    background-color: #3D63FF;
}


a {
    text-decoration: none;
    color: black;
}