* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
}

.title {
    background-color: rgb(239, 50, 50);
    height: 100%;
}

h1 {
    text-align: center;
    padding: 35px 0px;
    color: white;
}

ul {
    list-style-type: none;
    color: white;
}

ul > li:hover {
    background-color: black;
}

.title-1 {
    background-color: rgba(190, 178, 178, 0.816);
    height: 30px;
}

li {
    line-height: 30px;
    padding: 0.5px 15px;
}

.main {
    background-color: silver;
}

.main-bal > form{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
    height: 50px;
}

button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: blueviolet;
    font-size: 1.5rem;
    color: white;
    font-weight: 900;
}

.main-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../TEST/marvel/img/main_title.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

h2 {
    color: white;
    font-size: 3rem;
} 

.card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)) ;
    gap: 15px;
    padding: 15px;

}

.card-img {
    padding: 20px;
    background-color: white;
}
.img-card {
    padding-top: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
}

h3 {
    padding: 10px 0px;
}

.end-button {
    position: fixed;
    bottom: 20%;
    right: 10%;
    font-size: 13px;
}